.pf-v6-c-clipboard-copy.pf-m-inline {
  border-radius: var(--pf-t--global--border--radius--pill);
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

.pf-v6-c-clipboard-copy {
  --pf-v6-c-clipboard-copy--m-expanded__toggle-icon--Rotate: -180deg;
}
